aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
ddgs==9.13.0
edge-tts==7.2.8
flatbuffers==25.12.19
frozenlist==1.8.0
geographiclib==2.1
geopy==2.4.1
h3==4.4.2
idna==3.11
lxml==6.0.3
multidict==6.7.1
numpy==2.4.4
primp==1.2.2
propcache==0.4.1
psutil==7.2.2
pycparser==3.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
requests==2.33.1
six==1.17.0
tabulate==0.10.0
timezonefinder==8.2.2
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
